.info-box {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 27%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 16px;
}

/* elevation */
.info-box {
  --md-elevation-level: 5;
  --md-sys-color-shadow: #006a6a;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

/* list */
.info-box {
  --md-list-container-color: white;
  --md-list-item-label-text-font: system-ui;
}

@media screen and (max-width: 540px) {
  .info-box {
    bottom: 0;
    width: 100%;
    height: 25%;
    top: auto;
  }
}

.coffee-header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
