.info-box {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 16px;
}

/* elevation */
.info-box {
  --md-elevation-level: 5;
  --md-sys-color-shadow: #006a6a;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

/* list */
.info-box {
  --md-list-container-color: white;
  --md-list-item-label-text-font: system-ui;
}

@media screen and (max-width: 540px) {
  .info-box {
    bottom: 0;
    top: auto;
  }

  .mat-expansion-panel {
    width: 90vw;
  }
}

.navigation-help {
  align-self: flex-end;
}
