.info-box {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90%;
  width: 30%;
  background-color: white;
}

@media screen and (max-width: 540px) {
  .info-box {
    bottom: 0;
    top: auto;
  }

  .mat-expansion-panel {
    width: 90vw;
  }
}
